modules = ["nodejs-20", "web"]

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 5000
externalPort = 80

[objectStorage]
defaultBucketID = "replit-objstore-26de43db-99d6-4562-86f0-b47db5fc5f61"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[env]
NODE_ENV = "production"

[deployment]
deploymentTarget = "cloudrun"

[deployment.run]
args = ["sh", "-c", "/nix/store/1lagpgadaybvs1n2312gysg2phjk89y8-nodejs-20.20.0-wrapped/bin/node $file"]

[deployment.run.env]
file = "index.js"
